body {
    background-image: url("../images/316866.jpg");
    
}

label {
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font-size: 30px;
    font-weight: bolder;
    background-color: blanchedalmond;
}

.rapper-btn {
    margin-right: 10px;
    background-color: blanchedalmond;
    color: black;
    
}

.btn-primary {
    border-color: blanchedalmond;
}

.btn-primary:hover {
    background-color: black;
    border-color: black;
}

#rapper-input.capitalize {
    text-transform: capitalize;
}

